RAG/toyproject_RAG agent with Postgrel for me._.json
{
  "name": "toyproject_RAG agent with Postgrel for me.*",
  "nodes": [
    {
      "parameters": {
        "content": "# 체스 오프닝\n## 제공 소스 : 1800년대 체스 오프닝 / 2020년대 체스 오프닝 ",
        "height": 112,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -144
      ],
      "typeVersion": 1,
      "id": "2d2f6330-fe33-4a42-aa79-adc65fa11225",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        96
      ],
      "id": "9d476157-1bf3-4ec7-83ba-d52cc71b754f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XdzDsKZo8wQNh7uC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vecter",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        368,
        96
      ],
      "id": "f095b2c9-2dd9-49c2-8b1a-240097b63f71",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "W9u5wglCN4UzuZAa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        304
      ],
      "id": "ebefde16-2831-440b-bfed-64c61cfad673",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "xTH0p8OX6zSZh41V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "document_title",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        432,
        304
      ],
      "id": "79f51cdc-c2c1-42c1-9295-2dab129ea1d6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        432,
        464
      ],
      "id": "30f9618b-3b35-4a7c-b938-a0378e393adf",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful and knowledgeable assistant that answers questions based only on the given Korean documents (context).\nGuidelines:\n- Your answers must be based **only** on the provided context.\n- If the context does **not** contain the information needed,\nsay\n\" 해당\n문서에는 정보가 없습니다.\" and do not make up an answer.\n- Provide **clear land concise answers in Korean**.\n- If the user asks in English, still respond in Korean using the context.\nContext documents are in Korean"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        128,
        896
      ],
      "id": "05209f34-3924-4c35-aeda-8113bfa95a61",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        896
      ],
      "id": "859dc836-f797-42d4-9d91-f036aa6af21a",
      "name": "When chat message received",
      "webhookId": "da73e4c3-9a9e-4fc1-99e7-0cbcb4e53d2e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        1136
      ],
      "id": "c0a34cd0-6bfd-4043-8d70-71cda9748e35",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xTH0p8OX6zSZh41V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Searches for informational documents about chess openings based on questions and semantic similarity.",
        "tableName": "",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        272,
        1152
      ],
      "id": "775ab061-c808-415e-bdc5-46cb52b24b22",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "W9u5wglCN4UzuZAa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        1344
      ],
      "id": "e4e4fafc-1cb9-4f95-b90c-6fd7f31892ed",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "xTH0p8OX6zSZh41V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        80
      ],
      "id": "dc6eb393-dd60-4265-a595-dd58e020892b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        976,
        464
      ],
      "id": "f780a8be-10a8-4c78-bad1-98b74ba7a2f9"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/0/folders/151mkvEUJ52tN80absjNGOE4BWDZIlyXL",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -352,
        80
      ],
      "id": "7dc19d46-6982-496a-b846-56b514e3983a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XdzDsKZo8wQNh7uC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        80
      ],
      "id": "720716b0-af90-4188-97ea-785e3b05f611",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "562f8b32-dae5-4487-a07a-b2b0e95e7362",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c005e6aab65fb821aa80c48d5a23961c84eb52165b04318ecc3dce73ecd4ccdc"
  },
  "id": "8n3J9fJnsQxrbhRk",
  "tags": []
}